{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">

        <title>Profile Page</title>
        <div>
            <form method="POST">
                {% csrf_token %}

                <div class="mt-2 mb-2">
                    {{ form_u|crispy }}
                </div>
                <div class="mt-2 mb-2">
                    {{ form_p|crispy }}
                </div>
                
                <button type="submit" class="">Submit</button>    
            </form>    
        </div>
    </div>

{% endblock content %}